/node_modules
/public/hot
/public
/public/storage
/storage/*.key
/storage
/tests
/resources/js
/resources/lang
/resources/sass
/bootstrap
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
